*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    min-height:100vh;
    padding:30px;
}

.contenedor{
    max-width:800px;
    margin:auto;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

h1{
    text-align:center;
    color:#06b6d4;
    margin-bottom:15px;
}

.descripcion{
    text-align:center;
    color:#64748b;
    margin-bottom:30px;
}

.formulario{
    text-align:center;
}

button{
    padding:12px 25px;
    background:#06b6d4;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0891b2;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:25px;
}

th{
    background:#06b6d4;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    text-align:center;
}

tr:nth-child(even){
    background:#f1f5f9;
}
